.div {
  text-align: center;
  padding: 32px 0;
  background-color: rgba(110,103,219, 0.7);
  border-radius: 5px;
}

.span {
  display: block;
  text-align: center;
  font-size: 3rem;
  font-family: serif;
}

.button {
  height: 64px;
  width: 64px;
  border-radius: 5px;
  background-color: white;
}

.button + .button {
  margin-left: 24px;
}

.p {
  color: rgba(5,21,142,0.8);
  font-size: 0.5rem;
}
