.div {
  text-align: center;
  padding: 16px;
}

.span {
  display: block;
  text-align: center;
  font-size: 3rem;
  font-family: serif;
}

.button {
  height: 64px;
  width: 64px;
  border-radius: 5px;
}

.button + .button {
  margin-left: 24px;
}

.p {
  color: rgba(155, 155, 155, 0.7);
  font-size: 0.5rem;
}
